<div class="top-apps">
  <div class="header">
    <%= title %>
  </div>
  <ul class="apps clearfix">
    <% lists.each do |app| %>
      <li class='item pull-left'>
        <%= link_to app do %>
          <%= image_tag app.logo %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
