<div class="not-current-user well">
  Get the best new product discoveries in your inbox daily!
  <form accept-charset="UTF-8" action="/subscribers" class="new_subscriber" data-remote="true" id="new_subscriber" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
    <input id="subscriber_email" name="subscriber[email]" placeholder="Your email" type="email">
    <input name="commit" type="submit" value="Subscribe">
  </form>
</div>
