<div class="container main">
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
      <%= render "shared/list_area", lists: @related_apps, title: "Related Apps" %>
    </div>
  </div>
</div>
