@import "bootstrap";
@import "compass/css3";
@import "home";
@import "users";
@import "apps";
@import "sessions";
@import "nprogress";

@import 'swagger-ui';

html, body{
  min-height: 100%;

  background: #f2f5f6; /* Old browsers */
  background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}

@media (min-width: 1000px) {
  html, body{
    .container{
      width: 1020px;
    }
  }
}

*{
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
}

.orange{
  color: #da552f;
}

nav{
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  background: white;
  a.brand{
    font-size: 24px;
    padding-top: 1px;
    padding-bottom: 2px;
    text-decoration: none;
    font-weight: bold;
    img{
      width: 100px;
    }
  }
  .link{
    line-height: 30px;
    color: #999999;
    a{
      color: #999999;
    }
  }
}
.main{
  margin-top: 10px;
  padding-bottom: 300px;
}
