.main{
  .app-detail{
    background: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    .logo, .logo img{
      width: 200px;
      height: 200px;
      border-radius: 8px;
    }

    .detail-info{
      margin-left: 30px;
      width: 60%;
      .app-name{
        padding-top: 3px;
        font-weight: bold;
        font-size: 2em;
      }
      .desc{
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 500px){
  .main.app-show{
    .app-detail{
      margin-bottom: 10px;
      .logo, .logo img{
        width: 100px;
        height: 100px;
      }
      .detail-info{
        float: clear;
        margin-left: 10px;

        .app-name{
          font-size: 1.5em;
        }
        .desc{
        }
      }
    }
  }
}
