.main{
  .app-detail{
    background: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    .logo, .logo img{
      width: 200px;
      height: 200px;
      border-radius: 8px;
    }

    .detail-info{
      margin-left: 30px;
      width: 60%;
      .app-name{
        padding-top: 3px;
        font-weight: bold;
        font-size: 2em;
      }
      .desc{
        margin-top: 10px;
      }
    }
  }
}
