.main{
  .app-detail{
    background: white;
    padding: 10px;
    border-radius: 4px;
    .logo, .logo img{
      width: 200px;
      height: 200px;
      border-radius: 8px;
    }

    .detail-info{
      margin-left: 30px;
      width: 60%;
      .app-name{
        padding-top: 3px;
        font-weight: bold;
        font-size: 2em;
      }
      .collectors{
        .collector{
          margin-left: 5px;
          img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }
        }
      }
      .desc{
        margin-top: 10px;
      }
    }
  }

  .comment-box{
    margin-top: 20px;
    background: white;
    border-radius: 4px;
    padding: 10px;
    textarea{
      height: 100px;
    }
    input{
      margin-top: 10px;
    }
  }

  .comments{
    margin-top: 20px;
    background: white;
    border-radius: 4px;
    padding: 10px;
    .no-comments{
      text-align: center;
      color: #999999;
    }
    .comment{
      margin-top: 10px;
      .avatar, .avatar img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      .content{
        width: 640px;
        margin-left: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        border-left: 1px solid #eee;
      }
    }
  }
}


@media (max-width: 500px){
  .main.app-show{
    .app-detail{
      margin-bottom: 10px;
      .logo, .logo img{
        width: 100px;
        height: 100px;
      }
      .detail-info{
        float: clear;
        margin-left: 10px;
        width: 160px;

        .app-name{
          font-size: 1.5em;
        }
        .desc{
        }
      }
    }
  }
}
