.outer{
  background-image: image-url('home.jpg');
  height: 100%;
  background-size: cover;
  background-position: center;
}
.slogan{
  font-size: 3em;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 260px;
  font-weight: bold;
}

